[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nvim
[user]
	name = Aaqa Ishtyaq
	email = aaqa@hackerrank.com
	signingkey = C4BE1CE588EB9E21
[pull]
	rebase = true
[commit]
	gpgsign = true
[alias]
	logs = log --show-signature
	sl = "!git --no-pager log -n 15 --oneline --decorate";
	sla = "log --oneline --decorate --graph --all";
	lol = "log --graph --decorate --pretty=oneline --abbrev-commit";
	lola = "log --graph --decorate --pretty=oneline --abbrev-commit --all";
[gpg]
	program = /usr/local/bin/gpg
[init]
	templateDir = $HOME/.git-template
